<!--购物车-->
<div class="goodsCar">
    <!--头部-->
    <div class="header">
        购物车
    </div>
    <!--输入坐标-->
    <div class="coordinate">
        鲜蜂侠需要您的精准坐标
    </div>
    <!--闪送超市-->
    <div class="fastMart">
        <div></div>
        <h3>闪送超市</h3>
        <p>¥0起送，22:00前满¥30减免运费，22:00后满¥66减免运费</p>
    </div>
    <!--收货时间-->
    <div class="time">
        <span>收货时间</span>
        <span>一小时送达</span>
        <span>可预订></span>
    </div>
    <!--收货备注-->
    <div class="remark">
        <span>收货备注</span>
        <input type="text" placeholder="可输入100字以内特殊要求内容">
    </div>
    <!--商品信息-->
    <div class="goodsInfo">
        <!--对勾-->
        <span class="img"></span>
        <div class="drink">
            <div class="drinkVc"></div>
            <div class="drinkInfo">
                <p>维他柠檬茶饮料</p>
                <p>¥2.9</p>
            </div>
            <!--加入购物车-->
            <div class="goodsCar">
                <span class="addGoods reduceGoodsNum">-</span>
                <div class="goodsNum">1 </div>
                <span class="addGoods">+</span>
            </div>
        </div>
    </div>
    <!--全选-->
    <div class="allSelcet">
        <!--对勾-->
        <div class="allSelcet_all">
            <span class="allSelcet_img"></span>
            <span class="allSelcet_word">全选</span>
        </div>
        <!--总共的件数-->
        <div class="allSelcet_num">
            <span class="num">共：</span>
            <span class="price">¥2.9</span>
        </div>
        <!--选好了-->
        <div class="choose">
            选好了
        </div>
    </div>

    <!--footer-->
    <!--<nav class="footer">-->
        <!--<ul>-->
            <!--<li class="barItem1">-->
                <!--<div class="itemIcon1"></div>-->
                <!--<p>首页</p>-->
            <!--</li>-->
            <!--<li class="barItem2">-->
                <!--<div class="itemIcon2"></div>-->
                <!--<p>闪送超市</p>-->
            <!--</li-->
            <!--&gt;-->
            <!--<li class="barItem3">-->
                <!--<div class="itemIcon3"></div>-->
                <!--<p>新鲜预定</p>-->
            <!--</li>-->
            <!--<li class="barItem4">-->
                <!--<div class="itemIcon4"></div>-->
                <!--<span>1</span>-->
                <!--<p>购物车</p>-->
            <!--</li>-->
            <!--<li class="barItem5">-->
                <!--<div class="itemIcon5"></div>-->
                <!--<p>我的</p>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</nav>-->
</div>
<!--空div-->
<div class="blankSpace"></div>