<!--新鲜送达-->
<div class="fresh">
    <!--头部-->
    <div class="header">
        新鲜预定
    </div>
    <!--精选水果导航列表-->
    <div class="nav">
        <ul>
            <li>精选水果</li>
            <li>直供蔬菜</li>
            <li>水产海鲜</li>
            <li>肉禽蛋</li>
            <li>乳品烘焙</li>
        </ul>
        <ul>
            <li>熟食面点</li>
            <li>粮油副食</li>
            <li>酒水饮料</li>
            <li>休闲零食</li>
            <li>整箱购</li>
        </ul>
    </div>
    <!--精选水果-->
    <div class="fruitList">
        <!--标题-->
        <h2>
            <span>精选水果</span>
        </h2>
        <!--商品列表-->
        <ul>
            <!--第一条-->
            <li class="infoList">
                <!--左边图片-->
                <div class="infoList_img"></div>
                <!--右边详细信息-->
                <div class="info">
                    <p>[次日达]禧美阿拉斯加加狭鳕鱼500g</p>
                        <span>
                            <div class="yuan">¥</div>
                            <div class="price">28</div>
                        </span>
                    <!--加入购物车-->
                    <div class="addGodds"></div>
                </div>
            </li>
            <!--第二条-->
            <li>
                <div class="infoList_img"></div>
                <!--右边详细信息-->
                <div class="info">
                    <p>[次日达]平谷桃2-2.5kg 20粒/盒</p>
                        <span>
                            <div class="yuan">¥</div>
                            <div class="price">29.9</div>
                        </span>
                    <!--加入购物车-->
                    <div class="addGodds"></div>
                </div>
            </li>
            <!--第二条-->
            <li>
                <div class="infoList_img"></div>
                <!--右边详细信息-->
                <div class="info">
                    <p>[次日达]越南进口百香果 4粒 240g</p>
                        <span>
                            <div class="yuan">¥</div>
                            <div class="price">28.8</div>
                        </span>
                    <!--加入购物车-->
                    <div class="addGodds"></div>
                </div>
            </li>
        </ul>
    </div>
    <!--尾部-->
    <!--<nav class="footer">-->
        <!--<ul>-->
            <!--<li class="barItem1">-->
                <!--<div class="itemIcon1"></div>-->
                <!--<p>首页</p>-->
            <!--</li>-->
            <!--<li class="barItem2">-->
                <!--<div class="itemIcon2"></div>-->
                <!--<p>闪送超市</p>-->
            <!--</li-->
            <!--&gt;-->
            <!--<li class="barItem3">-->
                <!--<div class="itemIcon3"></div>-->
                <!--<p>新鲜预定</p>-->
            <!--</li>-->
            <!--<li class="barItem4">-->
                <!--<div class="itemIcon4"></div>-->
                <!--<span>1</span>-->
                <!--<p>购物车</p>-->
            <!--</li>-->
            <!--<li class="barItem5">-->
                <!--<div class="itemIcon5"></div>-->
                <!--<p>我的</p>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</nav>-->
</div>
<!--空div-->
<div class="blankSpace"></div>