<div id="fastSend">
    <!--头部搜索定位区域-->
    <div class="header">
        <!--定位-->
        <div class="position">
            <span>黄平路附近</span>
            <img src="components/image/triangle_03.png" alt="">
        </div>
        <!--搜索-->
        <div class="search">
            <img src="components/image/search.png" alt="">
            <span>搜索</span>
        </div>
    </div>
    <!--内容部分-->



    <div class="content">
        <!--热销榜-->
        <div class="content_left">
            <!--热销列表-->
            <ul>
                <li>
                    <span>热销榜</span>
                </li>
                <li>
                    <span>天天特价</span>
                    <img src="components/image/hot.jpg" alt="">
                </li>
                <li>优选水果</li>
                <li>牛奶面包</li>
                <li>卤味舒适</li>
                <li>饮料酒水</li>
                <li>休闲零食</li>
                <li>冰激凌</li>
            </ul>
        </div>
        <!--右边-->
        <div class="content_right">
            <!--选择-->
            <div class="allSort">
                <!--全部分类-->
                <div class="allSort_left">
                    <span>全部分类</span>
                    <img src="components/image/down_03.png" alt="">
                </div>
                <!--综合排序-->
                <div class="allSort_right">
                    <span>综合排序</span>
                    <img src="components/image/down_03.png" alt="">
                </div>
            </div>
            <!--商品列表-->
            <div class="goodsList">
                <!--第一条-->
                <div class="goodsList_content">
                    <!--商品详细信息-->
                    <dl>
                        <!--左边图片-->
                        <dt><img src="components/image/20160919170022_897473.jpg" alt=""></dt>
                        <!--右边列表-->
                        <dd>
                            <ul>
                                <li>维他柠檬茶饮料</li>
                                <li>
                                    <span class="choiceness">精选</span>
                                    <span class="give">买6赠二</span>
                                </li>
                                <li>250ml</li>
                                <li>
                                    <span class="cost">￥2.9</span>
                                        <span class="originalCost">
                                           <del>￥4</del>
                                        </span>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <!--加入购物车-->
                    <div class="goodsCar">
                        <span class="addGoods reduceGoods">-</span>
                        <div class="goodsNum">
                            1
                        </div>
                        <span class="addGoods">+</span>
                    </div>
                </div>

                <!--第二条-->
                <div class="goodsList_content">
                    <!--商品详细信息-->
                    <dl>
                        <!--左边图片-->
                        <dt><img src="components/image/juice.jpg" alt=""></dt>
                        <!--右边列表-->
                        <dd>
                            <ul>
                                <li>爱鲜蜂·赣南蜜桔</li>
                                <li>
                                    <span class="choiceness">精选</span>
                                </li>
                                <li>800-900g/袋</li>
                                <li>
                                    <span class="cost">￥6.8</span>
                                        <span class="originalCost">
                                           <del>￥8.5</del>
                                        </span>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <!--加入购物车-->
                    <div class="goodsCar">
                        <span class="addGoods reduceGoods">-</span>
                        <div class="goodsNum">
                            1
                        </div>
                        <span class="addGoods">+</span>
                    </div>
                </div>

                <!--第三条-->
                <div class="goodsList_content">
                    <!--商品详细信息-->
                    <dl>
                        <!--左边图片-->
                        <dt><img src="components/image/0000010434.jpg" alt=""></dt>
                        <!--右边列表-->
                        <dd>
                            <ul>
                                <li>燕京啤酒</li>
                                <li>
                                    <span class="choiceness">精选</span>
                                </li>
                                <li>330ml</li>
                                <li>
                                    <span class="cost">￥2.8</span>
                                        <span class="originalCost">
                                           <del>￥4</del>
                                        </span>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <!--加入购物车-->
                    <div class="goodsCar">
                        <span class="addGoods reduceGoods">-</span>
                        <div class="goodsNum">
                            1
                        </div>
                        <span class="addGoods">+</span>
                    </div>
                </div>

                <!--第四条-->
                <div class="goodsList_content">
                    <!--商品详细信息-->
                    <dl>
                        <!--左边图片-->
                        <dt><img src="components/image/20160803174253_264256.jpg" alt=""></dt>
                        <!--右边列表-->
                        <dd>
                            <ul>
                                <li>精致酸奶</li>
                                <li>
                                    <span class="choiceness">精选</span>
                                </li>
                                <li>80ml</li>
                                <li>
                                    <span class="cost">￥8.9</span>
                                        <span class="originalCost">
                                           <del>￥6.9</del>
                                        </span>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <!--加入购物车-->
                    <div class="goodsCar">
                        <span class="addGoods reduceGoodsNum">-</span>
                        <div class="goodsNum">1 </div>
                        <span class="addGoods">+</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    <!--<nav class="footer">-->
        <!--<ul>-->
            <!--<li class="barItem1">-->
                <!--<div class="itemIcon1"></div>-->
                <!--<p>首页</p>-->
            <!--</li>-->
            <!--<li class="barItem2">-->
                <!--<div class="itemIcon2"></div>-->
                <!--<p>闪送超市</p>-->
            <!--</li-->
            <!--&gt;-->
            <!--<li class="barItem3">-->
                <!--<div class="itemIcon3"></div>-->
                <!--<p>新鲜预定</p>-->
            <!--</li>-->
            <!--<li class="barItem4">-->
                <!--<div class="itemIcon4"></div>-->
                <!--<span>1</span>-->
                <!--<p>购物车</p>-->
            <!--</li>-->
            <!--<li class="barItem5">-->
                <!--<div class="itemIcon5"></div>-->
                <!--<p>我的</p>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</nav>-->
</div>
<!--空div-->
<div class="blankSpace"></div>