<!--我的账号-->
<div class="my">
    <!--注册账号-->
    <div class="header">
        <!--头像-->
        <dl class="headerList">
            <dt>
                <img src="components/image/head.png" alt="">
            </dt>
            <dd>
                <span class="phoneNum">18600756933</span>
                <div class="register">
                    <span>注册会员</span>
                    <img src="components/image/bee.png" alt="">
                </div>
            </dd>
        </dl>
        <div class="right">
            <img src="components/image/right.png" alt="">
        </div>
    </div>

    <!--商品收藏-->
    <div class="collect">
        <div class="commodity">
            <img src="components/image/commodity.png" alt="">
            <span>商品收藏</span>
        </div>
        <div class="shop">
            <img src="components/image/shop.png" alt="">
            <span>店铺收藏</span>
        </div>
    </div>
    <!--我的订单-->
    <div class="indent">
        <span class="myIndent">我的订单</span>
        <div>
            <span>查看所有订单</span>
            <img src="components/image/blackRight.png" alt="">
        </div>
    </div>
    <!--代付款-->
    <div class="noPay">
        <ul>
            <li>
                <div><img src="components/image/noPay.png" alt=""></div>
                <span>待付款</span>
            </li>
            <li>
                <div><img src="components/image/car.png" alt=""></div>
                <span>待收货</span>
            </li>
            <li>
                <div><img src="components/image/write.png" alt=""></div>
                <span>待评价</span>
            </li>
            <li>
                <div><img src="components/image/buied.png" alt=""></div>
                <span>售后/退款</span>
            </li>
        </ul>
    </div>
    <!--中间空隙-->
    <div class="void"></div>
    <!--积分商城-->
    <div class="markerShop">
        <ul>
            <li>
                <div><img src="components/image/bag.png" alt=""></div>
                <span>积分商城</span>
            </li>
            <li>
                <div><img src="components/image/money.png" alt=""></div>
                <span>优惠券</span>
            </li>
            <li>
                <div><img src="components/image/position.png" alt=""></div>
                <span>收货地址</span>
            </li>
            <li>
                <div><img src="components/image/phone.png" alt=""></div>
                <!--src="components/image/phone.png"-->
                <span>客服反馈</span>
            </li>
        </ul>
    </div>
    <!--关于我们-->
    <div class="aboout">
        <ul>
            <li>
                <div><img src="components/image/plaint.png" alt=""></div>
                <span>关于我们</span>
            </li>
        </ul>
    </div>
    <!--尾部部分-->
    <!--<nav class="footer">-->
        <!--<ul>-->
            <!--<li class="barItem1">-->
                <!--<div class="itemIcon1"></div>-->
                <!--<p>首页</p>-->
            <!--</li>-->
            <!--<li class="barItem2">-->
                <!--<div class="itemIcon2"></div>-->
                <!--<p>闪送超市</p>-->
            <!--</li-->
            <!--&gt;-->
            <!--<li class="barItem3">-->
                <!--<div class="itemIcon3"></div>-->
                <!--<p>新鲜预定</p>-->
            <!--</li>-->
            <!--<li class="barItem4">-->
                <!--<div class="itemIcon4"></div>-->
                <!--<span>1</span>-->
                <!--<p>购物车</p>-->
            <!--</li>-->
            <!--<li class="barItem5">-->
                <!--<div class="itemIcon5"></div>-->
                <!--<p>我的</p>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</nav>-->
</div>
<!--空div-->
<div class="blankSpace"></div>